{% extends 'base.html' %}

{% block header %}
<header>
    <h1>Hello World!</h1>
</header>
{% endblock %}

{% block main %}
<main>
    <form action="/" method="POST">
        <input type="text" name="item" placeholder="Add item" autofocus autocomplete="off">
        <button>Add item</button>
    </form>

    <ul id="todoItems">
        {% for item in items %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
</main>
{% endblock %}

{% block footer %}
<footer>
    <p>Footer!</p>
</footer>
{% endblock %}
